body {
    background-color: #d16d51;
    display:block;
    height: 50vh;
    font-family: 'Ubuntu', sans-serif;
}

button{
    color:white;
}

.joke{
    background-color: #f4f1de;
}

.joke:hover{
    background-color: #f2cc8f;
}

.jokesTeller:hover{
    text-decoration: none;
}

.newest{
    background-color: #f3e79a;

}


